body {
  background-color: #534b4b;
  font-family: cursive;
}

h1.container {
  font-size: 30pt;
}

.container {
  position: relative;
  text-align: center;
  width: 834px;
  height: 600px;
  margin: 0 auto;
}

#backcanvas {
  background-image: url(assets/sprites/tile.png);
  background-repeat: repeat;
  z-index: 1;
  color: white;
  margin-bottom: 1px;
}

#maincanvas {
  z-index: 2;
}

#uicanvas {
  z-index: 3;
  color: white;
}

canvas {
  /* left: 50%; */
  bottom: 0;
  left: 0;
  position: absolute;
}
